version: "2"

services:
  lowkey-vault:
    container_name: lowkey-vault
    image: nagyesta/lowkey-vault:5.0.14@sha256:5cc5d6b6f278f94b3508989e137bc2cc05798f466af9342018a42b61c7121a69
   # ports:
   #   - "8080:8080"
   #   - "8443:8443"
    environment:
      LOWKEY_ARGS: "--server.port=8443 --app.token.port=8080 --LOWKEY_VAULT_ALIASES=localhost=lowkey-vault:8443"

    # define a network to let us access the container from another compose file
    networks:
      - lowkey-vault-python-net

  python:
    container_name: python-test
    image: python:3.14.0-bookworm@sha256:ec171bc30122c014f83f7756fe21c4ab26d33e7c4610a63a18da2728f9ed33f8
    working_dir: /app
    volumes:
      - ./src:/app/src
      - ./tests:/app/tests
      - ./requirements.txt:/app/requirements.txt
    entrypoint: [ "/bin/sh", "-c" ]
    depends_on:
      - lowkey-vault
    command:
      - |
        mkdir -p /var/opt/azcmagent/tokens/
        touch /var/opt/azcmagent/tokens/assumed-identity.key
        python -m venv ./venv
        python -m pip install --upgrade pip 
        python -m pip install pytest
        pip install -r requirements.txt 
        python -m pytest tests/test.py
    environment:
      AZURE_POD_IDENTITY_AUTHORITY_HOST: http://lowkey-vault:8080
      IDENTITY_ENDPOINT: http://lowkey-vault:8080/metadata/identity/oauth2/token
      IMDS_ENDPOINT: http://lowkey-vault:8080
      LOWKEY_VAULT_URL: https://lowkey-vault:8443

    # use the previously defined network to let us access the lowkey-vault container
    networks:
      - lowkey-vault-python-net

networks:
  lowkey-vault-python-net:
    name: lowkey-vault-python-net
    driver: bridge